@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gamja+Flower&family=Roboto&display=swap");

/* 헤드 */
#title {
  background: linear-gradient(to right, #ffa7a3, #5673bd);
  padding: 0.43em 1em;
  font-size: 30px;
  border-radius: 3px;
  color: #ffffff;
}

/* 메인 */
#main {
  width: 1440px;
  height: 2000px;
  border: 1px solid tomato;
}

/* 검색 부분 */
#question {
  height: 1000px;
  width: 440px;
  background-color: gray;
}

#title-question {
  font-size: 60px;
  font-family: "Dongle", sans-serif;
  margin-left: 85px;
}

/* 연도 입력 */
#when {
  height: 100px;
  width: 440px;
}

#year {
  height: 30px;
  width: 300px;
  margin-top: 10px;
  margin-left: 70px;
  font-size: 15px;
  border-radius: 15px;
  padding-left: 10px;
  border: 0;
  background-color: rgb(233, 233, 233);
}

/* 장르 입력 */
#typee {
  height: 100px;
  width: 440px;
}

#genre {
  height: 30px;
  width: 300px;
  margin-left: 70px;
  font-size: 15px;
  border-radius: 15px;
  padding-left: 10px;
  border: 0;
  background-color: rgb(233, 233, 233);
}

/* 국내 또는 해외 선택 */
#countri {
  height: 100px;
  width: 440px;
}

#country {
  height: 50px;
  width: 200px;
  margin-left: 120px;
}
/* 검색 버튼 */
#search {
  height: 50px;
  width: 440px;
}

#button {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700px;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#button span {
  position: relative;
  z-index: 1;
}

#button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

#button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* 이달의 영화칸 */
#latest {
  width: 1000px;
  height: 500px;
  background-color: gray;
  float: right;
}

/* 챗봇 답변 칸 */
#contents {
  width: 1000px;
  height: 500px;
  background-color: orange;
  float: right;
}

/* 제목 가운데 정렬 */
p {
  text-align: center;
}
