footer {
  width: 100%;
  height: 90px;
  bottom: 0px;
  position: absolute;
  border-top: 1px soiid #c4c4c4;
  padding-top: 15px;
  color: white;
  font-size: 11px;
  background-color: #bf4c0a;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080;
  font-size: 11px;
}

footer a:visited {
  color: white;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}

section {
  padding-bottom: 105px;
}

html,
body {
  margin: 0;
  padding: 0;
}
